@charset "UTF-8";

#wrap{}

/* header 영역 */
#header{
    width: 100%;
    height: 80px;
    background: url('../img/mainslide1.jpg') no-repeat center top;
    border-bottom: 1px solid whitesmoke;
    position: fixed;
    z-index: 900;
}

.head_opa{
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.head_inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.logo{
    float: left;
}

.logo a{}

.nav{
    float: right;
    margin-right: 50px;
}

.main{}

.main li{
    display: inline-block;
}

.main li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    line-height: 79px;
    margin: 0 20px;
    transition: all 0.5s;
}

.main li a:hover{
    font-size: 18px;
}

/* contents 영역 */
#contents{}

/* main_visual 영역 */
.main_visual{
    height: 900px;
    background: url('../img/mainslide1.jpg') no-repeat center top;
}

.main_opa{
    height: 100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: whitesmoke;
}

.main_opa h2{
    padding-top: 300px;
    font-size: 60px;
}

.main_opa p{
    font-size: 25px;
    padding: 70px 0 100px;
}

.main_opa a{
    display: inline-block;
    padding: 10px 20px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    transition: all 0.5s;
}

.main_opa a:hover{
    background-color: gray;
    color: whitesmoke;
}

.info{
    background-color: #252525 ;
    color: whitesmoke;
    text-align: center;
    padding: 50px 0;
}

.info h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.info p{
    font-size: 15px;
}

.arrow{
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 30px solid #252525;
    border-right: 30px solid white;
    border-left: 30px solid white;
}

/* company 영역 */

/* con_inner1영역 */
.con_wrap{
    overflow: hidden;
}

.con_inner1{
    width: 1000px;
    margin: 0 auto;
    padding: 70px 0;
}

.title{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}

.p_title{
    text-align: center;
    font-size: 15px;
    padding-bottom: 50px;
}

.con_wrap{}

.con_wrap img{
    width: 100%;
}

.con_wrap p{
    padding-top: 50px;
    line-height: 2;
    font-size: 16px;
    text-align: justify;
}

.con_wrap .last{
    margin-bottom: 30px;
}

.left{
    width: 490px;
    float: left;
}

.left img{
    margin-bottom: 70px;
}

.right{
    width: 490px;
    float: right;
}

/* 찾아오시는길 영역 map */
.con_inner2{
    width: 1000px;
    margin: 0 auto;
    padding: 70px 0;
}

.con_inner2 .map{
    width: 100%;
    height: 500px;
    border: 0;
}

.address{
    padding-top: 50px;
}

.address h3{
    font-size: 20px;
    padding: 20px 0;
}

.address p{
    margin: 20px 0;
}

.time{
    padding-top: 50px;
}

.time h3{
    font-size: 20px;
    padding: 20px 0;
}

.time p{
    margin: 20px 0;
}

/* business영역 */

.con_inner3{
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

.con_wrap3{
    overflow: hidden;
}

.con_wrap3 li{
    float: left;
    width: calc(100% / 3);
    text-align: center;
    padding: 0 20px;
}

.con_wrap3 img{
    width: 80%;
}

.con_wrap3 h3{
    padding: 20px 0 30px;
    font-size: 20px;
}

.con_wrap3 p{
    text-align: justify;
    line-height: 2;
    letter-spacing: 1px;
}

.activity{
    padding: 30px 0;
}

.activity img{
    width: 100%;
}

.activity h3{
    margin: 20px 0;
    font-size: 20px;
}

.activity p{
    margin-bottom: 20px;
}

.article{
    overflow: hidden;
}

.article .left h3{
    font-size: 20px;
}

.article .left p{
    padding: 10px 0;
    line-height: 1.5;
}

.article .right{}

.article .right h3{
    font-size: 20px;
}

.article .right p{
    padding: 10px;
    line-height: 1.5;
}

.p_first{
    border-bottom: 3px solid lightgreen;
    margin-bottom: 10px;
}

.article p{
    line-height: 2;
    text-align: justify;
}

/* 포트폴리오 영역 */

.con_inner4{
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden;
}

.img_list{}

.img_list li{
    float: left;
    width: calc(100% / 4);
}

.img_list li div{
    margin: 30px 0;
    position: relative;
}

.img_list li div a{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: all 0.5s;
}

.img_list li div a:hover{
    background-color: rgba(0,0,0,0.5);
}

.img_list li div a span{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.7);
    line-height: 55px;
    text-align: center;
    border-radius: 20px 0px;
    font-size: 30px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    opacity: 0;
}

.img_list li div a:hover span{
    opacity: 1;
}

.img_list li div a span:hover{
    color: lightskyblue;
    background-color: rgba(255,255,255,1);
}

.img_list li div img{
    width: 100%;
    display: block;
}

.img_list li h4{
    padding: 5px 0;
}

.img_list li h5{
    padding: 5px 0;
}

/* consult 영역 */
.con_inner5{
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

.form_table{
    width: 100%;
    /* border: 1px solid black; */
}

.t_left{
    width: 30%;
    background-color: lightslategray;
    text-align: center;
    font-weight: bold;
}

.form_table td{
    padding: 10px;
    border: 1px solid black;
}

.phone2{
    width: 50px;
}

.t_right{
    text-align: right;
}

.text_pre2{
    width: 100%;
    height: 200px;
    padding: 10px;
}

.btn{
    text-align: center;
    padding: 20px;
}

.btn input{
    display: inline-block;
    line-height: 40px;
    margin: 20px;
    width: 80px;
    height: 40px;
}

.img_center{
    text-align: center;
}


.con_inner6{
    width: 100%;
    height: 400px;
    background: url('../img/7-min.jpg') no-repeat center;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0 auto;
}

.con_inner6_opa{
    width: 100%;
    height: 400px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    color: white;
}

.con_inner6_opa h2{
    padding: 70px 0 30px;
}

.con_inner6_opa p{
    padding: 0 0 20px;
}

.sns{
    width: 1000px;
    margin: 0 auto;
}

.sns li{
    float: left;
    width: calc(100% / 3);
}

.sns li span{
    font-size: 12px;
}

/* footer 영역 */

.footer{}

.foot_up{
    background: #444;
    color: whitesmoke;
    padding: 50px 0;
}

.foot_up_inner{
    width: 1000px;
    margin: 0 auto;
}

.foot_up_inner h2{}

.foot_up_inner span{}

.foot_down{
    background-color: black;
    color: whitesmoke;
    padding: 25px;
}

.foot_down_inner{
    width: 1000px;
    margin: 0 auto;
}



